.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #hide {
  display: none;
}

.hidemenu {
  display: none;
}

.menutitle {
  width: 100%;
  height: 100%;
  background-color: rgb(82, 82, 82);
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav .icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.25rem 0.2rem;
  display: flex;
  flex-wrap: nowrap;
}

.settings img {
  margin: 0.25rem 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.25rem 3rem;
}

.shop img {
  margin: 0.25rem 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.25rem 5.84rem;
}
