.stack {
  width: 98.5%;
  height: 100%;
  border-radius: 40px 1px 40px 40px;
  border-color: rgb(110, 138, 190);
  border-style: solid;
  background-color: rgb(110, 138, 190);
  padding-bottom: 1rem;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form_control {
  margin-bottom: 1rem;
  padding-left: 0.7rem;
}

.form_control input,
.form_control label {
  display: block;
}

.form_control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form_control input,
.form_control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 19rem;
  max-width: 100%;
}

.form_control input:focus {
  outline: none;
  border-color: #804c4c;
  background-color: #edd4fd;
}

.control_group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 2%;
}

.control_group .form-control {
  min-width: 15rem;
  flex: 1;
}

.form_actions {
  text-align: left;
  padding-top: 1rem;
  padding-left: 0.7rem;
}

.form_actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errortext {
  color: #b40e0e;
}

button {
  font: inherit;
  background-color: #390452;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #05739e;
  border-color: #05739e;
}

button:disabled,
button:disabled:hover,
button:disabled.active {
  background-color: #ccc;
  color: #05739e;
  border-color: #ccc;
  cursor: not-allowed;
}

.title {
  text-align: center;
  padding-top: 1rem;
  color: #060544;
}

.forgot {
  text-align: center;
}

.forgot p {
  color: #0d0b96;
  text-decoration: underline;
}

.forgot p:active {
  color: #040427;
}
